#table,td, th {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: .5px solid #dddddd;
    text-align: center;
    padding: 20px;
  }

  th, td {
    height: 10px;
    padding: 20px;
    border-bottom: .5px solid #dddddd;
    background-color: hsl(347, 88%, 62%);
  
  }
