body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #2c7fb8;
  background-color: #fa9fb5;
  font-size: 16px;
  margin: 20px;
}

header>img.center {
  float: none;
  display: block;
  margin: 0 auto;

}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3em;
  color: #edf8b1;
  margin-top: 15px;
  margin-bottom: 45px;
}

h2 {
  font-family: 'Lobster', cursive;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 2em;
  color: #edf8b1  
}

h3 {
  font-family: 'Lobster', cursive;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: rgb(255, 255, 255)
}

p {
  margin-right: 15px;
  text-align: left;
}

nav {
  display: block;
  
}

nav>ul {
  list-style-type: none;
  float: top;
  margin-right: 15px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  overflow: hidden;
  border: 1px solid #edf8b1;
  background-color: #7fcdbb;
}

ul {
  list-style-type: none;
  float: bottom;
  margin-right: 15px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
  border: 2px solid #edf8b1;
  background-color: #7fcdbb;
}

#apparel {
  font-family: 'Lobster', cursive;
  text-align: center;
  list-style-type: none;
  float: right;
  margin-right: 15px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
  border: 2px solid #edf8b1;
  background-color: #7fcdbb;
  width: 400px;
  height: 1100px;
  color: #2c7fb8;  
}

#apparel>p{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #2c7fb8;
}


li {
  float: left;
}

li a {
  display: block;
  color: #edf8b1;
  padding: 10px 40px 10px 40px;
  border-left: 1px solid rgb(165, 157, 157);
}

li:first-child {
  margin-left: 35px;
}

li:last-child {
  border-right: 1px solid rgb(165, 157, 157);
}


fieldset {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 0.50em;
  padding-bottom: 0.50em;
  padding-left: 0.90em;
  padding-right: 0.90em;
  border: 2px groove (internal value);
}

.imgResize {
  width: 200px;
  border: gray 1px;
}

#table,td, th {
    font-family: Lobster, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: .5px solid #dddddd;
    text-align: center;
    padding: 20px;
  }

  th, td {
    height: 10px;
    padding: 20px;
    border-bottom: .5px solid #dddddd;
    background-color: hsl(347, 88%, 62%);
  
  }

  form {
  font-size: 0.9em;
  font-family: 'Lobster', sans-serif;
  letter-spacing: 0.2em;
}






